@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.pagetop {
    position: fixed;
    right: 2rem;
    bottom: 8rem;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.8rem;
    height: 6.8rem;
    border-radius: 50%;
    clip-path: circle(50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
    @include pc {
        right: 11.6rem;
        bottom: 7.5rem;
    }
}

@include hover {
    .pagetop.is-show:hover {
        @include pc {
            opacity: 0.7;
        }
    }
}

.pagetop.is-show {
    opacity: 1;
    visibility: visible;
}

.pagetop.is-docked {
    position: absolute;
    opacity: 1;
    visibility: visible;
}
