@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.pagination {
    margin-top: 5.8rem;
    @include pc {
        margin-top: 7rem;
    }
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

// 各ボックス間の間隔（margin-leftで個別調整）
.pagination__item:nth-child(1) {
    margin-left: 0;
}

.pagination__item:nth-child(2) {
    margin-left: 0.5rem;
    @include pc {
        margin-left: 1rem;
    }
}

.pagination__item:nth-child(3) {
    margin-left: 1.2rem;
    @include pc {
        margin-left: 1rem;
    }
}

.pagination__item:nth-child(4) {
    margin-left: 1.1rem;
    @include pc {
        margin-left: 0.5rem;
    }
}

.pagination__item:nth-child(5) {
    margin-left: 10.4rem;
    @include pc {
        margin-left: 0.5rem;
    }
}

.pagination__item a,
.pagination__item.is-active span,
.pagination__item.is-dots span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    font-weight: 700;
    color: $color-black;
    text-decoration: none;
    transition: background-color 0.4s, color 0.4s;
    @include pc {
        width: 5rem;
        height: 5rem;
    }
}

.pagination__item a,
.pagination__item.is-active span {
    border: 1px solid $color-black;
}

.pagination__item.is-active span {
    background-color: $color-black;
    border-color: $color-black;
    color: $color-white;
}

.pagination__item.is-dots span {
    border: none;
}

@include hover {
    .pagination__item a:hover {
        background-color: $color-black;
        color: $color-white;
        opacity: 1;
    }
}
