@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

body {
    margin: 0;
    box-sizing: border-box;
}
.slide-area{
    background-color: $color-white;
    padding: 5rem 0;
}
.swiper-wrapper {
    transition-timing-function: ease-in-out;
}