@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.page-contact-send {
    .contact-send {
        padding: 4.8rem 0 5.1rem;
        @include pc {
            padding: 6.6rem 0 9rem;
        }
    }

    .contact-send__contents {
        text-align: center;
    }

    .contact-send__text {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        text-align: left;
        @include pc {
            font-size: 1.8rem;
            line-height: calc(32 / 18);
            text-align: center;
        }
    }

    .contact-send__btn {
        margin-top: 3.8rem;
        display: flex;
        justify-content: center;
    }

    .contact-send__btn a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 5rem;
        background-color: $color-red;
        color: $color-white;
        font-size: 2rem;
        line-height: calc(33 / 25);
        font-weight: 700;
        text-decoration: none;
        border: 1px solid $color-red;
        transition: background-color 0.4s, color 0.4s;
        @include pc {
            width: 25rem;
            font-size: 2.5rem;
        }
    }

    @include hover {
        .contact-send__btn a:hover {
            @include pc {
                background-color: $color-white;
                color: $color-red;
                opacity: 1;
            }
        }
    }
}
