@use '../foundation/variable' as *;
@use '../foundation/mixin' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: $color-white;
    height: 5rem;
    @include pc {
        height: 8rem;
    }
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__left {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.header__link {
    display: flex;
    align-items: center;
    align-self: stretch;
    text-decoration: none;
}

.header__image {
    width: 2.1rem;
    aspect-ratio: 33 / 50;
    @include pc {
        width: 3.2rem;
        margin-right: 1rem;
    }
}

.header__logo {
    align-self: stretch;
    font-size: 1.3rem;
    line-height: calc(14 / 13);
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 0.6rem;
    @include pc {
        font-size: 2rem;
        line-height: calc(23 / 20);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 0;
    }
}

.header__logo span {
    font-size: 1.3rem;
    line-height: calc(14 / 13);
    @include pc {
        font-size: 1.5rem;
        line-height: calc(23 / 15);
    }
}

.header__nav.pc {
    align-self: stretch;
}

.header__nav.pc ul {
    display: flex;
    align-items: stretch;
    column-gap: 3.3rem;
    list-style: none;
    font-weight: 700;
    height: 100%;
}

.header__nav.pc ul li:not(.nav-contact) {
    display: flex;
    align-items: center;
}

.header__nav.pc ul li:not(.nav-contact) a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.7rem;
    line-height: 1;
    text-decoration: none;

    @include hover {
        &:hover {
            opacity: 1;
        }

        &:hover > span::after {
            width: 100%;
        }
    }
}

.header__nav.pc ul li:not(.nav-contact) a > span {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -0.6rem;
        left: 0;
        width: 0;
        height: 0.2rem;
        background-color: $color-red;
        transition: width 0.4s;
    }
}

.header__nav.pc ul li.nav-contact a {
    font-size: 1.5rem;
    line-height: 1;
    text-decoration: none;
}

.nav-contact {
    display: flex;
    align-items: center;
}

.nav-contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-red;
    color: $color-white;
    width: 15rem;
    height: 4.2rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    border: 1px solid $color-red;
    transition: background-color 0.4s, color 0.4s;
}

@include hover {
    .nav-contact a:hover {
        background-color: $color-white;
        color: $color-red;
        opacity: 1;
    }
}

/* ハンバーガーメニュー全体 */
.hamburger {
    display: block;
    position: absolute;
    width: 7.1rem;
    height: 5rem;
    background: $color-red;
    margin-left: auto;
    z-index: 999;
    border: none;
    right: 0;
    @include pc {
        display: none;
    }
}

.hamburger span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.2rem;
    height: 0.4rem;
    border-radius: 5px;
    background: $color-white;
    transition: 0.4s;
}

.hamburger span:nth-of-type(1) {
    top: 30%;
}

.hamburger span:nth-of-type(3) {
    top: 70%;
}

.hamburger.is-active span:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.is-active span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.is-active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* ナビゲーション（中身） */
.header-menu {
    display: block;
    position: fixed;
    top: 5rem;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.4s;
    background: $color-red;
    z-index: 200;
    @include pc {
        display: none;
    }
}

.header-menu.is-open {
    transform: translateX(0);
}

.header-menu ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 700;
    color: $color-white;
}

.header-menu ul li:not(:first-of-type) {
    margin-top: 0;
}

.header-menu ul li a {
    color: $color-white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    width: 30rem;
    height: 5.8rem;
    transition: opacity 0.4s;
}

@include hover {
    .header-menu ul li a:hover {
        opacity: 0.7;
    }
}


/* 黒背景（オーバーレイ） */
.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    z-index: 10;
    @include pc {
        display: none;
    }
}

.overlay.is-open {
    opacity: 1;
    visibility: visible;
}
